/*******************************************************
********************** nav barre ***********************
*******************************************************/
@media (min-width: 602px)
{
    .sidenav-close
    {
        height: 64px;
    }

}


/*
@media (min-width: 768px)
{
    .sidenav
    {
        top: 64px;
        z-index: 2000;
    }
}

@media (max-width: 768px)
{
    .sidenav
    {
        top: 64px;
        z-index: 2000;
    }
}
*/
/***********************************************************
************************* CSS icons ************************
***********************************************************/

@media (max-width: 768px)
{
    .container-row-icons
    {
        width: 40%;
    }
}