::-webkit-scrollbar
{
    width: 6px;
    height: 0;
    position: relative;
    top: 1.5rem;
}

::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(244,167,51,0.7);
}

::-webkit-scrollbar-thumb:window-inactive
{
     background: rgba(244,167,51,0.4);
}

::-moz-selection, ::selection
{
    background-color: rgba(255, 255, 255, 0);
}

.background-color-orange-lacces
{
    background-color: #f4a733 !important;
}

.background-color-violet-lacces
{
    background-color: #69085a !important;
}

.color-orange-lacces
{
    color: #f4a733;
}

.color-violet-lacces
{
    color: #69085a;
}

.bold
{
    font-weight: bold;
}

body, footer
{
    background-color: #ffffff;
}

body
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

main
{
    height: inherit;
    overflow-y: auto;
}

.container-body
{
    /*height: calc(100vh - 64px - 1.5rem);*/
    position: relative;
    top: 1.5rem;
}

.container-main-flex, .container-main-center
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-main-flex
{
    height: 100%;
    position: relative;
}

p
{
    margin: 0;
}

.container-search, .container-search-active
{
    margin: auto;
}

.container-focus, .container-search-active
{
    transition: all 500ms ease-in-out;
}

.container-search
{
    transition: all 450ms ease-in-out;
}

.container-search
{
    width: 70%;
}

.container-search-active
{
    width: 100%;
}

noscript
{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    padding: 8px;
    box-shadow: 0 0 5px 0 #757575;
    transform: translateY(0);
    animation: fadeInUp 0.5s;
}

.input-field>label, label
{
    color: rgba(0, 0, 0, 0.8);
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after
{
    background-color: #69085a;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after
{
    border: 2px solid #69085a;
}

.btn
{
    margin: 4px 0;
}

/*******************************************************
********************** nav barre ***********************
*******************************************************/

.brand-logo #logo_lacces
{
    height: 48px;
}

.sidenav
{
    z-index: 10000;
}

.no-padding .material-icons
{
    color: #757575;
}

.sidenav .divider
{
    margin: 0;
    height: 8px;
    border-bottom: 1px solid #757575;
    background-color: #ffffff;
}

.navbar-fixed
{
    z-index: 10000;
}

.nav-wrapper
{
    width:100%;
    line-height: 64px;
    display: flex;
}

nav
{
    padding: 8px;
    display: flex;
    align-items: center;
}


.sidenav-close
{
    display: flex;
    align-items: center;
    width: 100%;
}

.sidenav .collapsible-header
{
    padding: 0 32px;
}

.sidenav .collapsible-body li a
{
    padding: 0 48px 0 48px;
}

#container_logo_lacces
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#material-icons_arrow_drop_down
{
    margin-right: 0;
}

nav .brand-logo
{
    display: flex;
    align-items: center;
}

.nav-link
{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

nav ul a.btn
{
    margin: 0;
}

nav ul a:hover
{
    border-radius: 0 !important;
}

.btn-log
{
    text-transform: none;
    width: 100%;
    display: flex !important;
    align-items: center;
}

.btn-log:hover
{
    border-radius: 0 !important;
}

.dropdown-content-l
{
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    flex-direction: column;
    z-index: 25000;
    margin: 0;
}

.dropdown-content-l li
{
    width: 100%;
}

nav ul a
{
    -webkit-transition: none;
    height: 56px !important;
    line-height: 64px !important;
}

nav .sidenav-trigger
{
    margin: 0 !important;
}

nav ul a:hover
{
    height: 56px !important;
    line-height: 64px !important;
    border-radius: 50% !important;
    background-color: #f5f5f5;
}

li {
    list-style: none;
}


nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i
{

    line-height: 64px !important;
}

@media (min-width: 601px)
{
    .sidenav-close
    {
        height: 64px;
    }

}

@media only screen and (max-device-width: 601px)
{
    nav, nav ul a, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        line-height: 48px !important;
    }

    nav ul a
    {
        height: 48px !important;
        line-height: 56px !important;
    }

    nav i, nav a.sidenav-trigger
    {
        line-height: 48px !important;
    }

    nav ul a:hover
    {
        height: 48px !important;
        line-height: 56px !important;
    }

    .sidenav-close
    {
        height: 56px;
    }
}

@media only screen and (min-width: 601px)
{
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i
    {
        line-height: 56px !important;
    }
}

/***********************************************************
************************* CSS icons ************************
***********************************************************/

.container-row-icons-menu, .container-row-icons
{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.container-row-icons-menu
{
    display: none;
}

.container-row-icons
{
    width: 25%;
}

.container-icons
{
    color: white;
    background-color: #757575;
    border-radius: 50%;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-icons:hover
{
    background-color: #f4a733;
}

.container-icons img
{
    width: 28px;
    height: 28px;
    margin: 8px;
}

footer .divider
{
    width: 98%;
    margin: auto;
}

@media only screen and (max-device-width: 601px)
{
    .container-row-icons
    {
        display: none;
    }

    .container-row-icons-menu
    {
        display: flex;
        visibility: visible;
        height: 100%;
        width: 40%;
    }

    .container-icons
    {
        margin: 12px;
    }

    .divider
    {
        display: none;
    }
}

@media (max-width: 768px)
{
    .container-row-icons
    {
        width: 40%;
    }
}

/***************************************/

.active-item-menu, .active-item-menu > a
{
    color: white !important;
}

#sng
{
    background-color: white !important;
    color: black !important;
}

.btn-hover:hover
{
    background-color: #69085a !important;
}

.btn-flat-hover:hover
{
    background-color: #eeeeee !important;
}

.formValue:focus, .validate:focus
{
    border-bottom: 1px solid #69085a !important;
    box-shadow: 0 1px 0 0 #69085a !important;
}

.active, .focus
{
    color: #69085a !important;
}

.message-flash
{
    position: absolute;
    top: 100px;
    left: 37%;
    right: 37%;
    color: white;
    height: auto;
    max-width: 100%;
    min-height: 48px;
    line-height: 1.5em;
    padding: 10px 25px;
    font-size: 1.3rem;
    font-weight: 300;
    border-radius: 100px!important;
    z-index: 10000;
    -webkit-box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.message-flash p
{
    text-align: center;
}

.image-flag-drowpdown
{
    width: 100%;
    height: 50px;
}

.ml-form
{
    text-align: justify;
}


@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


@-webkit-keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
}