/*******************************************************
********************** nav barre ***********************
*******************************************************/

@media only screen and (max-device-width: 601px)
{
    nav, nav ul a, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        line-height: 48px !important;
    }

    nav ul a
    {
        height: 48px !important;
        line-height: 56px !important;
    }

    nav i, nav a.sidenav-trigger
    {
        line-height: 48px !important;
    }

    nav ul a:hover
    {
        height: 48px !important;
        line-height: 56px !important;
    }

    .sidenav-close
    {
        height: 56px;
    }
}

@media only screen and (min-width: 601px)
{
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i
    {
         line-height: 56px !important;
    }
}

/***********************************************************
************************* CSS icons ************************
***********************************************************/

@media only screen and (max-device-width: 602px)
{
    .container-row-icons
    {
        display: none;
    }

    .container-row-icons-menu
    {
        display: flex;
        visibility: visible;
        height: 100%;
        width: 40%;
    }

    .container-icons
    {
        margin: 12px;
    }

    .divider
    {
        display: none;
    }
}

@media all  {
    
}