.sidenav .divider
{
    background-color: #212121;
    border-bottom: 1px solid #ffffff;
}

.sidenav li>a
{
    color: #ffffff;
}

.btn-menu:hover, .btn-menu:focus, .btn-menu:active, nav ul a:hover
{
    background-color: #69085a;
}

.waves-effect input {
    color: white;
}

#logo > .character-counter {
    display: none;
}