{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/css_for_views/exercice.css') }}">
{% endblock %}

{% block title %}Exercices{% endblock %}

{% block navbarre %}


{% endblock %}

{% block body %}
    <div class="nav-content">
        <div class = "row center">
            <ul class = "tabs z-depth-1">
                <li class = "tab">
                    <a href="#exerciceA1">Trouvez les phrases</a>
                </li>
                <li class = "tab">
                    <a href="#exerciceA2">Etudiez vidéos</a>
                </li>
                <li class = "tab">
                    <a href = "#outbox">Quizz</a>
                </li>
                <li class = "tab">
                    <a href = "#sent">QCM Vidéo</a>
                </li>
                <li class = "tab">
                    <a href = "#v">Reformer les phrases</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-body">
        <main>
            <div class="container">
                <div class="row">
                    <div id = "exerciceA1">{% include('@Lacces/Exercices/Types/exerciceA1.html.twig') %}</div>
                    <div id = "exerciceA2">{% include('@Lacces/Exercices/Types/exerciceA2.html.twig') %}</div>
                    <div id = "outbox">Outbox (Disabled)</div>
                    <div id = "sent">Sent</div>
                    <div id = "v">Sent</div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(".tabs").tabs({
            swipeable: true,
        });
    </script>
    <script src="{{ asset('js/js_for_views/exercice.js') }}"></script>
{% endblock %}