{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block title %}Error 510{% endblock %}
{% block body %}
    <div class="container-body">
        <main>
            <div class="container">
                <div class="container-main-flex">
                    <div class="row center">
                        <div class="col s12">
                            <div class="card center">
                                <span class="card-title"><h1>Oops</h1></span>
                                <div class="card-content">
                                    <h2>Erreur 503 - Le service est actuellement indisponible</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}