body
{
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.brand-logo #logo_lacces
{
    height: 48px;
}

.sidenav-trigger .material-icons
{
    color: #757575;
}

.no-padding .material-icons
{
    color: #757575;
}

.sidenav .divider
{
    margin: 0;
    height: 8px;
    border-bottom: 1px solid #757575;
    background-color: #ffffff;
}

.nav-wrapper
{
    width:100%;
    line-height: 64px;
    display: flex;
}

nav
{
    padding: 8px;
}

.btn-menu a
{
    margin: 0 !important;
    padding: 0 !important;

}

.btn-menu
{
    margin: 0 4px;
    padding: 12px;
    border-radius: 50%;
    width: 48px !important;
}

.btn-menu:hover
{
    background-color: #eeeeee;
}

.navbar-fixed
{
    z-index: 5000;
}

@media (min-width: 768px){

}
.sidenav
{
    top: 64px;
    z-index: 2000;
}

@media (max-width: 602px)
{
    .sidenav
    {
        top: 56px;
    }
}

.sidenav .collapsible-header
{
    padding: 0 32px;
}

.sidenav .collapsible-body li a
{
    padding: 0 48px 0 48px;
}

#container_logo_lacces
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.btn-menu
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.btn-menu .material-icons
{
    position: absolute;
}

#material-icons_arrow_drop_down
{
    margin-right: 0;
}

#material-icons_arrow_drop_down.rotate
{
    margin-right: 0;
    transform: rotate(180deg);
    transition: 0.5s ease-out;
}

nav .brand-logo
{
    display: flex;
    align-items: center;
}

#liImg
{
    position: relative;
}

#imgEntest
{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
}
/*
section
{
    margin-top: 2%;
    margin-bottom: 1%;
}*/

p
{
    margin: 0;
}