.nav-content
{
    position: fixed;
    top: 64px;
    width: 100%;
    z-index: 100;
}

@media only screen and (max-device-width: 602px)
{
    .nav-content
    {
        top: 56px;
    }
}

.tabs .indicator
{
    background-color: #69085a !important;
}

.tabs .tab a
{
    color: rgba(0,0,0,0.87) !important;
}

.tabs .tab a:hover, .tabs .tab a.active
{
    background-color: rgba(244, 167, 51, 0.25) !important;
    color: #000000 !important;
}

.container-body
{
    /*height: calc(100vh - 64px - 4rem);*/
    height: 100%;
    top: 4rem;
}

.carousel.carousel-slider .carousel-item p
{
    font-size: inherit;
}

.check-result
{
    position: absolute;
    right: 16px;
    top: 25%;
}

.card-title p
{
    margin: 8px;
}

.container-qcm, .action-btn
{
    display: flex;
    align-items: center;
}

.container-qcm
{
    justify-content: space-between;
}

#exerciceLangage
{
    display: flex;
    align-items: center;
}

.dropdown-flag-exercice
{
    position: fixed;
}

#exerciceLangage .dropdown-content li>a, #exerciceLangage .dropdown-content li>span
{
    padding: 0;
}