.nav-content
{
    position: fixed;
    top: 64px;
    width: 100%;
    z-index: 100;
}

@media only screen and (max-device-width: 602px)
{
    .nav-content {
        top: 56px;
    }
}

.tabs .indicator
{
    background-color: #69085a !important;
}

.tabs .tab a
{
    color: rgba(0,0,0,0.87) !important;
}

.tabs .tab a:hover, .tabs .tab a.active
{
    background-color: #f4a733 !important;
    color: #ffffff !important;
}

.container-body
{
    height: calc(100vh - 64px - 4rem);
    top: 4rem;
}

.tabs-content
{
    height: calc(100vh - 64px - 5.5rem);
}