#imgEn, #imgFr
{
  border-radius: 50%;
  width: 50%;
  border: solid white 3px;
  padding: 1%;
}

@media (max-width: 993px)
{
    #imgEn, #imgFr
    {
        width: 70%;
        height: 70%;
    }
}

@media (max-width: 602px)
{
    #imgEn, #imgFr
    {
        width: 80%;
        height: 80%;
    }
}

#radiobtn
{
    visibility: hidden !important;
    height: 0;
}



