#search-on
{
    background-color: #eeeeee;
    border-radius: 100px;
    height: 56px;
    padding: 0 1.7rem 0 1.7rem;
    width: 100%;
    display: flex;
}

#search-on:hover
{
    background-color: #e3e3e3;
}

#search-barre, .input-field
{
    margin: 0;
}

.input-field
{
    display: flex;
    align-items: center;
    width: 100%;
}

.input-field .search
{
    border: none;
}

/* label focus color */
.input-field input:focus + label
{
    color: transparent;
}

/* label underline focus color */
#search-on .input-field input:focus
{
    border-bottom: none;
    box-shadow: none;
}

input::placeholder
{
    color: #757575;
}

.row .input-field input:focus::placeholder
{
    color: transparent;
}

#btnSearch
{
  background: transparent;
  box-shadow: none;
  padding: 0;
}

#close-barre
{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

#container-image
{
    position: relative;
}

#container-img-flag
{
    position: absolute;
    display: none;
    right: 4.5rem;
    top: 0;
}

.image-circle
{
    position: absolute;
    width: 70px;
    height: 40px;
    border-radius: 50% 0 0 50%;
}

.ui-menu-item-wrapper:focus .ui-menu-item-wrapper:hover .ui-menu-item-wrapper:active .ui-menu-item-wrapper:target .ui-menu-item-wrapper:enabled{
    color: white !important;
    background-color: #f4a733 !important;
}





