#search-on
{
    background-color: #eeeeee;
    border-radius: 100px;
    height: 56px;
    padding: 0 24px 0 24px;
    width: 100%;
    display: flex;
}

#search-on:hover
{
    background-color: #e3e3e3;
}

#search-barre, .input-field
{
    margin: 0;
}

.input-field
{
    display: flex;
    align-items: center;
    width: 100%;
}

.input-field .search
{
    border: none;
}

/* label focus color */
.input-field input:focus + label
{
    color: transparent;
}

/* label underline focus color */
#search-on .input-field input:focus
{
    border-bottom: none;
    box-shadow: none;
}

.material-icons
{
    color: #f4a733;
}

input::placeholder
{
    color: #757575;
}

.row .input-field input:focus::placeholder
{
    color: transparent;
}

#btnSearch
{
  background: transparent;
  box-shadow: none;
  padding: 0;
}

/************************************/
/*
.ui-menu
{
    background-color: white;
    border: none;
}

.ui-menu a
{

}

.ui-menu-item
{
    display: flex;
    align-items: center;
    padding: 8px;
    height: 60px;

}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-widget, .ui-widget-content
{
    border: none !important;
}



/*****************//*
.ui-corner-all
{
    -moz-border-radius: 4px 4px 4px 4px;
}
.ui-widget-content
{
    border: 5px solid black;
    color: #222222;
    background-color: Red;
}
.ui-widget
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 15px;
}
.ui-menu
{
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 2px;
}
.ui-autocomplete
{
    cursor: default;
    position: absolute;
}
.ui-menu .ui-menu-item
{
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.ui-menu .ui-menu-item a
{
    display: block;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    cursor: pointer;
    background-color: Green;
}
.ui-menu .ui-menu-item a:hover
{
    display: block;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    color: White;
    cursor: pointer;
    background-color: ButtonText;
}
.ui-widget-content a
{
    color: #222222;
}
*/


