.lettreMaj
{
    color: #f4a733;
    font-weight: bold;
    font-size: 1.4rem;
    display:flex;
    align-items: center;
    margin-left: 1.2rem;
}

#word
{
    transition-duration: 0.5s;
}

#word:hover
{
    transition-duration: 0.2s;
    color: #f4a733 !important;
}

#word:active
{
    color: #69085a !important;
}

.material-icons_arrow_drop_down
{
    color: #757575;
    position: absolute;
    margin-left: 3%;
}

.collapsible-ASL:hover
{
    background-color: #eeeeee;
}

.alphabet-pictures
{
    height: 4rem;
    position: absolute !important;
    right: 1.2rem;
}
