.word
{
    position: relative;
}

#content
{
    display: flex;
    align-items: center;
}

#row-box
{

    top: 0;
    position: absolute;
    width: 100%;
}

.word-box
{
}

.word-translate
{
    line-height: 29px;
}

#tmp
{

}

#icon-search
{
    height: 56px;
    width: 56px;
    float: right;
    position: relative;
}

#icon-search .btn-floating
{
    background-color: #f4a733;
}

#material-icons-clear
{
    visibility: hidden;
    position: absolute;
}

#search-on
{
    visibility: hidden;
}

#search-box
{
    width: 0%;
    opacity: 0;
    right: 20%;
    transition: all .75s;
    position: absolute;
}

#search-box.show
{
    width: 80%;
    opacity: 1;
    z-index: 100;
    position: absolute;
}

@media (max-width: 602px)
{
    #search-box.show
    {
        width: 80%;
    }
}

@media (max-width: 602px) {
    .video
    {
        min-height: 25vh;
        height: 25vh;
    }
}

.video
{
    min-height: 78vh;
    height: 78vh;
}

.main-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    height: 100%;
}

.container-video1, .container-video2
{
    background-color: #0D47A1;
    position: relative;
    width: 70%;
    height: 60%;
}

.container-video2
{
    background-color: green;
}

.container-video-over
{
    background-color: #0f9d58;
    width: 70%;
    height: 70%;
    position: absolute;
    margin: auto;
    top:0;
}

.btn-play
{
    margin: auto;
}

iframe
{
    visibility: visible;
}