.word
{
    position: relative;
}

#content
{

}

#row-box
{

    top: 0;
    position: absolute;
    margin: auto;
    width: 100%;
}

.word-box
{
    margin: auto;

}

.word-translate
{

}

#tmp
{

}

#icon-search
{
    height: 56px;
    width: 56px;
    float: right;
    padding: auto;
}

a .material-icons
{
    color: orange;
}

#search-on
{
    visibility: hidden;
}

#search-box
{
    width: 0%;
    opacity: 0;
    right: 10%;
    transition: all .75s;
}

#search-box.show
{
    width: 90%;
    opacity: 1;
    z-index: 100;
    position: absolute;
}