<section class="card">
    <span class="card-title">Modifier le logo de l'application</span>
    <div class="card-content">
        {{ form_start(form) }}
        <div class="file-path-wrapper">
            {{ form_widget(form.image) }}
        </div>
    </div>
    <div class="card-action">
        {{ form_widget(form.submit) }}
    </div>
    {{ form_end(form) }}

</section>