<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Face à Face français LSF anglais ASL - Application en construction {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="{{ asset('css/jquery_materialize/materialize.min.css') }}"/>
    <meta name="description" content="L’Application « FACE à FACE Français LSF Anglais ASL » est un outil d’apprentissage linguistique  permettant d’entrer par
        l’une des quatre langues dans les trois autres, en face à face, pour s’initier ou se perfectionner à leur utilisation courante.
        Les clips vidéos LSF et ASL ont été réalisés par des signeurs locuteurs natifs, en France et aux Etats Unis, garants de l’authenticité de leur langue première.
        Des exercices  écrits (sous forme de Quizz) les accompagnent pour permettre aux usagers une appropriation  lexicale à partir d’énoncés de contextualisation.
        Pour les premiers ( A, B), la solution est donnée, pour un travail en autonomie ; pour les autres ( C, D), il faut se rendre sur la plateforme numérique
        du Consortium L@cces-lsf-pour-tous qui propose des formations en ligne en e-learning (à distance) et désormais, en connexion avec cette Application,
        une méthode d’apprentissage en immersion. Cette Application s’inscrit dans la lutte contre l’illetrisme et pour  l’apprentissage de l’anglais."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta name="theme-color" content="#f4a733"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('logo_lacces_ico.ico') }}" />
</head>
<body>
    <div class="container">
        <div class="row center">
            <div class="col s12">
                <img id="logo_lacces" alt="Logo L@cces" src={{ asset('pictures/logo/logo_lacces.png') }}/>
                <p class="flow-text"><strong>Application en cours de construction</strong></p>
                <p class="flow-text" style="text-align: justify">L’Application « FACE à FACE Français LSF Anglais ASL » est un outil d’apprentissage linguistique  permettant d’entrer par
                    l’une des quatre langues dans les trois autres, en face à face, pour s’initier ou se perfectionner à leur utilisation courante.
                    Les clips vidéos LSF et ASL ont été réalisés par des signeurs locuteurs natifs, en France et aux Etats Unis, garants de l’authenticité de leur langue première.
                    Des exercices  écrits (sous forme de Quizz) les accompagnent pour permettre aux usagers une appropriation  lexicale à partir d’énoncés de contextualisation.
                    Pour les premiers ( A, B), la solution est donnée, pour un travail en autonomie ; pour les autres ( C, D), il faut se rendre sur la plateforme numérique
                    du Consortium L@cces-lsf-pour-tous qui propose des formations en ligne en e-learning (à distance) et désormais, en connexion avec cette Application,
                    une méthode d’apprentissage en immersion. Cette Application s’inscrit dans la lutte contre l’illetrisme et pour  l’apprentissage de l’anglais.</p>
            </div>
        </div>
    </div>
</body>
</html>

