{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}Mentions-légales{% endblock %}

{% block body %}

    <div class="container-body">
        <main>
            <div class="container">
                <div class="container-main-flex">
                    <div class="row">
                        <div class="col s12">
                            <h1>Mentions légales</h1>
                            <p class="flow-text ml-form black-text">
                                Cette application web est soumis au régime juridique français. À ce titre, il est un service de
                                communication au public en ligne édité à titre non professionnel au sens de l'article 6, III,
                                2° de la loi 2004-575 du 21 juin 2004.
                            </p>
                            <br/>
                            <ul class="collapsible">
                                <li>
                                    <div class="collapsible-header">
                                        <p class="flow-text black-text">
                                            Directeur de publication
                                        </p>
                                    </div>
                                    <div class="collapsible-body">
                                        <p class="flow-text ml-form black-text">
                                            Mireille GOLASZEWSKI <br />
                                            Eric DINEE <br />
                                            Contact : <br />
                                        </p>
                                        <table class="striped black-text flow-text">
                                            <tr>
                                                <td>
                                                    mir.golaszewski[at]gmail.com (remplacer [at] par @)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    eric.dinee[at]consortium-lacces-lsf-pour-tous.fr (remplacer [at] par @)
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">
                                        <p class="flow-text black-text">
                                            Hébergement
                                        </p>
                                    </div>
                                    <div class="collapsible-body">
                                        <p class="flow-text ml-form black-text">
                                            LWS 4, RUE GALVANI 75838 PARIS CEDEX 17 - FRANCE <br />
                                            RCS Paris B 450 453 881 - APE 723Z <br />
                                            TVA intra: FR44 450 453 881 <br />
                                            SIRET 45045388100010
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">
                                        <p class="flow-text black-text">
                                            Statuts de L@CCES LSF-Pour-Tous
                                        </p>
                                    </div>
                                    <div class="collapsible-body">
                                        <p class="flow-text ml-form black-text">
                                            SIRET N°84108579800012 <br />
                                            Agrément du Ministère de l'Enseignement Supérieur - DGESIP <br />
                                            Répertoire National des Associations (RNA) N°W7512398 <br />
                                            Déclaration : 16 juin 2017 <br />
                                            Label européen des langues – Agence ERASMUS
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">
                                        <p class="flow-text black-text">
                                            Données personnelles
                                        </p>
                                    </div>
                                    <div class="collapsible-body">
                                        <p class="flow-text ml-form black-text">
                                            Les données personnelles collectées sur le site L@CCES LSF-Pour-Tous sont uniquement destinées
                                            à un usage interne. En aucun cas ces données ne seront cédées ou vendues à des tiers. Seuls les
                                            commentaires enregistrés sur ce site donnent lieu à un enregistrement des informations de connexion
                                            (adresse IP, pseudonyme, adresse email et éventuellement site web).
                                            <br />
                                            <br />
                                            Conformément à l’article 39 de la loi du 6 janvier 1978 relative à l’informatique, aux fichiers
                                            et aux libertés, vous avez un droit d’accès, de modification et d’opposition sur vos données
                                            personnelles enregistrées par le site. Vous pouvez exercer ce droit sur simple demande en nous
                                            contactant sur : contact[at]consortium-lacces-lsf-pour-tous.fr (remplacer [at] par @).
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">
                                        <p class="flow-text black-text">
                                            Conditions de modération des commentaires du site
                                        </p>
                                    </div>
                                    <div class="collapsible-body">
                                        <p class="flow-text ml-form black-text">
                                            Les commentaires publiés sur L@CCES LSF-Pour-Tous reflètent uniquement l’avis de leur auteur.<br />
                                            Le non respect de l’une des règles suivantes entraîne la suppression sans avertissement du commentaire concerné :
                                        </p>
                                        <br/>
                                        <table class="striped flow-text ml-form black-text">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Commentaires diffamatoires, racistes, pornographiques, pédophiles, incitant à délit, crimes ou suicides.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Commentaires reproduisant une correspondance privée sans l’accord des personnes concernées.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Commentaires agressifs ou vulgaires.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Commentaires visant uniquement à mettre en ligne un lien vers un site extérieur (spam).
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">
                                        <p class="flow-text black-text">
                                            Cookies
                                        </p>
                                    </div>
                                    <div class="collapsible-body">
                                        <p class="flow-text ml-form black-text">
                                            Lors de votre visite, des cookies sont déposés sur votre ordinateur, mobile ou tablette.
                                            Ce sont des fichiers texte de petite taille qui sont stockés sur votre disque dur par le
                                            serveur du site que vous consultez. Les cookies enregistrées sur ce site ou par des tiers
                                            ne vous reconnaissent pas personnellement en tant qu’individu. Ils reconnaissent seulement
                                            l’appareil que vous êtes en train d’utiliser. Ici, les cookies ont surtout une finalité
                                            statistique (nombre de pages vues, nombres de visites…).
                                            <br />
                                            Les internautes peuvent s’opposer à l’enregistrement de cookies ou être prévenu avant d’accepter
                                            les cookies, en configurant leur ordinateur. Si votre navigateur est configuré de manière à
                                            refuser tous les cookies cela peut avoir une influence sur votre navigation sur le site. Vous
                                            pouvez supprimer les cookies en suivant les instructions suivantes :
                                        </p>
                                        <br/>
                                        <table class="striped flow-text ml-form black-text">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Microsoft Internet Explorer
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Dans la section « Général », sous « Historique de navigation », cliquez sur « Paramètres »
                                                        puis « Afficher les fichiers ». Parcourez la liste des cookies et sélectionnez le(s)
                                                        cookie(s) comprenant le nom « Vive La Chute » et supprimez-les. Cliquez sur « Fermer »
                                                        pour revenir à votre navigateur.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Mozilla Firefox
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Allez dans l’onglet « Outils » du navigateur puis sélectionnez le menu « Options ».
                                                        Sélectionnez la rubrique « Vie privée » et cliquez sur « Affichez les cookies ». Dans
                                                        la barre de recherche entrez « Vive La Chute » puis cliquez sur « Supprimer cookie »
                                                        ou « Supprimer tous les cookies ». Cliquer sur « fermer » pour revenir à votre navigateur.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Google Chrome
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Cliquez sur l’icône « Paramètre ». Cliquez sur « Afficher les paramètres avancés » et
                                                        accédez à la section « Confidentialité » puis « Paramètre de contenu ». Dans la section
                                                        « Cookies », cliquez sur le bouton « Cookies et données de site ». Dans la barre de recherche
                                                        entrez « Vive La Chute » et cliquez sur « Tout supprimer ». Cliquez sur « OK » pour revenir
                                                        à votre navigateur.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Apple Safari
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Dans votre navigateur, choisissez le menu « Édition » puis « Préférences » et cliquez sur
                                                        « Sécurité ». Cliquez sur « Afficher les cookies ». Sélectionnez les cookies qui contiennent
                                                        le nom « Vive La Chute » et cliquez sur « Effacer » ou sur « Tout effacer ». Après avoir
                                                        supprimé les cookies, cliquez sur « Terminé ».
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br/>
                                        <p class="flow-text ml-form black-text">
                                            Pour plus d’info sur les cookies, vous pouvez consulter le site de la CNIL :
                                            <a href="https://www.cnil.fr/fr/site-web-cookies-et-autres-traceurs">Les cookies.</a>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">
                                        <p class="flow-text black-text">
                                            Application web  - Le français anglais signe en vidéo et en face à face
                                        </p>
                                    </div>
                                    <div class="collapsible-body">
                                        <p class="flow-text ml-form black-text">
                                            <i>Licence professionnelle Technologies du Web et Terminaux Mobiles.</i><br/>
                                            Conception ingénieurs : Théotime Brault – Florian Delgado – Brandon Sechet<br/>
                                            Responsable de formation : Gilles Subrenat <a href="http://www.cfasup-na.fr/">CFA Sup Nouvelle Aquitaine</a><br/>
                                            <br/>
                                            <strong>Coordonnées :</strong><br/>
                                            SP2MI bâtiment<br/>
                                            H1<br/>
                                            TSA 41123<br/>
                                            86073 POITIERS CEDEX 9<br/>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">
                                        <p class="flow-text black-text">
                                            Code de la propriété intellectuelle
                                        </p>
                                    </div>
                                    <div class="collapsible-body">
                                        <table class="striped flow-text ml-form black-text">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Article L112-3
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Les auteurs de traduction, d'adaptation transformations ou arrangements des oeuvres de l'esprit jouissent de la même protection,
                                                        sans préjudice des droits de l'auteur de l'oeuvre originale. Il en est de même des auteurs d'anthologie ou de recueils d'oeuvres qui
                                                        par le choix et la disposition des matières constituent des créations intellectuelles. Les droits moraux le droit moral vise principalement
                                                        à permettre à un auteur d'être reconnu en tant que tel. Il est attaché à la personne de l'auteur, inaliénable, imprescriptible,
                                                        et transmissible aux héritiers. ce droit permet le droit de divulgation de l'oeuvre, de la modifier, d'en définir les conditions d'exploitation,
                                                        et la possibilité de réunir diverses oeuvres dans un recueil. C'est au titre du droit moral que l'on cite l'auteur d'un document. les droits
                                                        patrimoniaux les droits patrimoniaux concernent es droits de reproduction et de représentation (en particulier de télédiffusion).
                                                        Ils appartiennent à l'auteur , qui peut les céder à titre gratuit et onéreux, (il est important d'avoir une trace écrite d'une telle cession)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Article L-122-4
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Toute représentation ou reproduction intégrale ou partielle faite sans le consentement de l'auteur ou de ses ayant droit ou ayant cause est illicite.
                                                        Il en est de même pour la traduction, l'adaptation ou la transformation, l'arrangement ou la reproduction par un art ou un procédé quelconque.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Article L335-2
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Toute édition d'écrits de composition musicales, de dessins, de peinture ou toute autre production imprimée ou gravée en entier ou en partie,
                                                        au mépris des lois et règlements relatifs à la propriété des auteurs, est une contrefaçon. toute contrefaçon est un délit La contrefaçon en France
                                                        d'ouvrages publiés en France ou à l étranger est punie de deux ans d'emprisonnement et de 300.000 euros d'amende seront punis des mêmes peines le débit,
                                                        l'importation et l'exportation d'ouvrages contrefaits
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Article L335-3
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Constitue un délit de contrefaçon toute reproduction, représentation, ou diffusion, par quelque moyen que ce soit, d'une oeuvre de l'esprit en violation des droits de l'auteur, tels qu'ils sont définis et réglementés par la loi.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Article 335-4
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Est punie de deux ans d'emprisonnement et de 300.000 euros d'amende toute fixation, reproduction, communication ou mise à disposition du public,
                                                        à titre onéreux ou gratuit, ou toute télédiffusion d'une prestation, d'un phonogramme (enregistrement sonore), d'un vidéogramme (oeuvre audiovisuelle)
                                                        ou d'un programme, réalisée sans l'autorisation, lorsqu'elle est exigée, de l'artiste interprète, du producteur de phonogramme ou de vidéogramme ou de
                                                        l'entreprise de communication audiovisuelle Est punie des mêmes peines toute importation ou exportation de phonogrammes ou de vidéogrammes réalisée sans
                                                        l'accord du producteur ou de l'artiste interprète, lorsqu'elle est exigée.
                                                        "Chacun a droit à la protection des intérêts moraux et matériels découlant de toute production scientifique, littéraire ou artistique dont il est l'auteur."
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>





{% endblock %}