{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}Contact{% endblock %}

{% block body %}

    <main class="container-main">
        <div class="container">
            <div class="row center">
                <h3>Contact</h3>
            </div>
            {{ include('@Lacces/form.html.twig') }}
        </div>
    </main>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/js_for_views/contact.js') }}"></script>
{% endblock %}

