{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}Contact{% endblock %}

{% block body %}

    {{ include('@Lacces/flash_message.html.twig') }}

    <div>
        {{ form(form) }}
    </div>

{% endblock %}