<form method="POST">
    <div id="search-on">
        <div class="input-field ui-widget">
            <input class="search" id="search-barre" autocomplete="off" placeholder="Rechercher un mot" />
            <a id="btnSearch" class="btn"><i class="material-icons">search</i></a>
        </div>
    </div>
</form>
<script>

  $('#btnSearch').click(function (){
     var  s = $('#search-barre').val();
     if(s != ""){
       if($("#btnFr").is(":checked")){
         var l = "fr";
         $('#btnSearch').attr('href', "/word/"+l+"/"+s);
       }else if($("#btnEn").is(":checked")){
         var l = "en";
         $('#btnSearch').attr('href', "/word/"+l+"/"+s);
       }else{
         $('#btnSearch').attr('href', "/");
       }
     }
  })
</script>
