<form method="POST">
    <div id="search-on">
        <div class="input-field ui-widget">
            <input name="search-barre" class="search" id="search-barre" autocomplete="off" placeholder="Rechercher un mot" />
            <a id="btnSearch" class="btn">
                <i class="material-icons orange-text">search</i>
            </a>
        </div>
    </div>
    <div id="result"></div>
</form>

<script>

  $('#btnSearch').click(function (){
     var  s = $('#search-barre').val();
      var l;
      if($("#btnFr").is(":checked")) {
          l = "fr";
      }else if($("#btnEn").is(":checked")) {
          l = "en";
      }else{
          l = "";
      }

     if(s != "" && !l){
         $('#btnSearch').attr('href', "/word/"+l+"/"+s);
     }else{
         $('#btnSearch').attr('href', "/");
     }
  });

  $('#search-barre').keyup(function () {
      var word = $('#search-barre').val();
      var l;
      if($("#btnFr").is(":checked")) {
          l = "fr";
      }else if($("#btnEn").is(":checked")) {
          l = "en";
      }else{
          l = "";
      }

      if(word && l){
          $.ajax({
              cache: false,
              data: {'l':l, 'word':word},
              url:  "{{ path('auto_complete') }}",
              type: 'POST',
              dataType: "json",
              success: function (response) {
                  /*for(var i=0; i<response.word.length; i++){
                      console.log(response.word);
                      console.log("oui");
                  }*/
                  console.log(response[word][word][1]);
              },
              error: function (response) {

              }
          })
      }
  })
</script>
