<form>
    <div id="search-on">
        <div class="input-field">
            <input class="search" id="search-barre" placeholder="Rechercher un mot" />
            <i class="material-icons">search</i>
        </div>
    </div>
</form>

{% block javascripts %}
  
{% endblock %}
