<form method="POST">
    <div id="search-on">
        <div class="input-field ui-widget">
            <input name="search-barre" class="search" id="search-barre" autocomplete="off" placeholder="Rechercher un mot" />
            <a id="btnSearch" class="btn">
                <i class="material-icons orange-text">search</i>
            </a>
            <div id="container-img">
                <div id="container-img-flag">
                    <img id="imgFlagEn" class="image-circle" src="{{ asset('pictures/flags/FlagEN_SearchBar.png') }} ">
                    <img id="imgFlagFr" class="image-circle" src="{{ asset('pictures/flags/FlagFR_SearchBar.png') }}">
                </div>
            </div>
        </div>
    </div>
</form>
<div id="close-barre" class="btn-floating background-color-orange-lacces">
    <i class="material-icons white-text">close</i>
</div>

<div id="radiobtn">
    <div>
        <label>
            <input type="radio" id="btnFr" name="langue" checked="true"/>
            <span>fr</span>
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="langue" id="btnEn"/>
            <span>en</span>
        </label>
    </div>
</div>

<script>
$('document').ready(function () {
    function submitSearch(){
        var  s = $('#search-barre').val();
        var l;
        if($("#btnFr").is(":checked")) {
            l = "fr";
        }else if($("#btnEn").is(":checked")) {
            l = "en";
        }else{
            l = "";
        }

        if(s != "" && l){
            $('form').attr('action', "/word/"+l+"/"+s);
            $('form').submit();
        }else{
            $('form').removeAttr('action');
        }
    }

    $('#btnSearch').click(function (){
      submitSearch();
    });
    
    $('#search-barre').keyup(function(e) {
        if (e.keyCode == 13) {
            submitSearch();
        }
    });


    $('#search-barre').keyup(function () {
          var word = $('#search-barre').val();
          var l;
          if($("#btnFr").is(":checked")) {
              l = "fr";
          }else if($("#btnEn").is(":checked")) {
              l = "en";
          }else{
              l = "";
          }

      if(word && l){
          $.ajax({
              cache: false,
              data: {'l':l, 'word':word},
              url:  "{{ path('auto_complete') }}",
              type: 'POST',
              dataType: "json",
              success: function (response) {
                  result(response);
              },
              error: function (response) {
              }
          });

          function result(response){
              var mots = [];
              for (var i = 0; i < response['words'].length; i++) {
                  mots[i] = response['words'][i]['word'];
              }

              $('#search-barre').autocomplete({
                  source: mots,//description -> mot corespondent label-> mot et bouton video value->le mot
              });
          }
      }
  });
    
    $('.image-circle').click(function () {
        if ($("#btnEn").is(":checked")) {
            $("#btnEn").removeAttr("checked");
            $("#btnFr").attr("checked", true);
        } else if ($("#btnFr").is(":checked")) {
            $("#btnFr").removeAttr("checked");
            $("#btnEn").attr("checked", true);
        }
    })
})
</script>
