<form method="POST">
    <div id="search-on">
        <div class="input-field ui-widget">
            <input name="search-barre" class="autocomplete search" type="text" id="search-barre" autocomplete="off" placeholder="Rechercher un mot" />
            <a id="material-icons-dropdown-flag" class='dropdown-trigger btn-flat' href='#' data-target='dropdown-flag'>
                <i class="material-icons">arrow_drop_down</i>
            </a>
            <ul id='dropdown-flag' class='dropdown-content'>
                <li>
                    <img id="imgFlagEn" class="image-flag-drowpdown" src="{{ asset('pictures/flags/FlagEN_SearchBar.jpg') }} ">
                </li>
                <li class="divider" tabindex="-1"></li>
                <li>
                    <img id="imgFlagFr" class="image-flag-drowpdown" src="{{ asset('pictures/flags/FlagFR_SearchBar.jpg') }}">
                </li>
            </ul>
            <button type="submit" id="btnSearch" class="btn-flat">
                <i class="material-icons orange-text">search</i>
            </button>

            <div id="close-barre" class="btn-floating background-color-orange-lacces">
                <i class="material-icons white-text">close</i>
            </div>
        </div>
    </div>
</form>

<div id="background-search"></div>

<div id="radiobtn">
    <div>
        <label>
            <input type="radio" id="btnFr" name="langue" checked="true"/>
            <span>fr</span>
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="langue" id="btnEn"/>
            <span>en</span>
        </label>
    </div>
</div>

<script>
$('document').ready(function () {
    {#
    $('#search-barre').keyup(function () {
        var word = $('#search-barre').val();
        var l;
        if($("#btnFr").is(":checked")) {
            l = "fr";
        }else if($("#btnEn").is(":checked")) {
            l = "en";
        }else{
            l = "";
        }

        if(word && l){
            $.ajax({
                cache: false,
                data: {'l':l, 'word':word},
                url:  "{{ path('auto_complete') }}",
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    result(response);
                },
                error: function (response) {
                }
            });

            function result(response){
                var mots = [];
                for (var i = 0; i < response['words'].length; i++) {
                    mots[i] = response['words'][i]['word'];
                }

                $('#search-barre').autocomplete({
                    source: mots,//description -> mot corespondent label-> mot et bouton video value->le mot
                    minLength: 2,
                });
            }
        }
    });#}

    function submitSearch(){
        var  word = $('#search-barre').val();
        var langue;
        if($("#btnFr").is(":checked")) {
            langue = "fr";
        }else if($("#btnEn").is(":checked")) {
            langue = "en";
        }else{
            langue = "";
        }

        if(word && langue){
            $('form').attr('action', "/word/"+langue+"/"+word);
            //$('form').submit();
        }else{
            $('form').removeAttr('action');
        }
    }
    {#
    $('#search-barre').keyup(function(e) {
        if (e.keyCode == 13) {
            submitSearch();
        }
    });#}

    $(".autocomplete").each(function () {
        $('#search-barre').on("input change", function () {
            var l;
            if($("#btnFr").is(":checked")) {
                l = "fr";
            }else if($("#btnEn").is(":checked")) {
                l = "en";
            }else{
                l = "";
            }

            $.ajax({
                url: "{{ path('auto_complete') }}",
                type: 'POST',
                cache: false,
                data: {'l':l, 'word':$('#search-barre').val()},
                success: function (response) {
                    var mots = response['words'];
                    if (!mots || !mots.length) return;
                    var words = mots.map(function (item) {
                        return "\"" + item['word'] + "\": null";
                    });
                    words = "{" + words + "}";
                    submitSearch();
                    $('#search-barre').autocomplete({
                        data: JSON.parse(words)
                    });
                },
                error: function (err) {
                }
            });
        });
    });


    $('.image-flag-drowpdown').click(function () {
        if ($("#btnEn").is(":checked")) {
            $("#btnEn").removeAttr("checked");
            $("#btnFr").attr("checked", true);
        } else if ($("#btnFr").is(":checked")) {
            $("#btnFr").removeAttr("checked");
            $("#btnEn").attr("checked", true);
        }
    })
});
</script>
