<form method="POST">
    <div id="search-on">
        <div class="input-field ui-widget">
            <input class="search" id="search-barre" autocomplete="off" placeholder="Rechercher un mot" />
            <a id="btnSearch" class="btn"><i class="material-icons">search</i></a>
        </div>
        <div id="result"></div>
    </div>
</form>
<script>

  $('#btnSearch').click(function (){
     var  s = $('#search-barre').val();
      var l;
      if($("#btnFr").is(":checked")) {
          l = "fr";
      }else if($("#btnEn").is(":checked")) {
          l = "en";
      }else{
          l = "";
      }

     if(s != "" && !l){
         $('#btnSearch').attr('href', "/word/"+l+"/"+s);
     }else{
         $('#btnSearch').attr('href', "/");
     }
  });

  $('#search-barre').keyup(function () {
      var word = $('#search-barre').val();
      var l;
      if($("#btnFr").is(":checked")) {
          l = "fr";
      }else if($("#btnEn").is(":checked")) {
          l = "en";
      }else{
          l = "";
      }
      if(!word){
          $.ajax({
              cache: false,
              data: {'langue':l, 'word':word},
              url:  "{{ path('auto_complete') }}",
              type: 'POST',
              dataType: "json",
              success: function (response) {
                  $('#result').html(response.words);

              },
              error: function (response) {

              }
          })
      }
  })
</script>
