<div class="col s12 m12 l8 offset-l2">
    <div class="card">
        <div class="card-content center black-text flow-text">
            <p>
                QCM. Cocher la bonne réponse
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-title">
            <p class="flow-text black-text">

            </p>
        </div>
        <div class="card-content">

        </div>
    </div>
</div>

<script>
</script>