<div class="col s12 m12 l8 offset-l2">
    <div class="card">
        <div class="card-content center black-text flow-text">
            <p>
                Regardez la vidéo ASL et trouvez la phrase signée en anglais
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-title">
            <p id="word" class="flow-text center black-text">
                {{ word }}
            </p>
        </div>
        <div class="card-image">
            <div class="video-container">
                <iframe title="{{ word }}" width="1100" height="619" src="{{ obj_exerciceA1.videoLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="card-content">
            <div class="input-field">
                <label for="proposition">Trouvez la phrase</label>
                <input id="proposition" name="proposition" type="text" class="formValue" autocomplete="off" >
            </div>
        </div>
        <div class="card-action hide">
            <button id="revoir-video" class="btn waves-effect background-color-orange-lacces">Revoir la vidéo</button>
            <button id="envoyer" class="btn waves-effect background-color-orange-lacces">Envoyez</button>
            <div class="check-result right">
                <i id="result-done" class="result material-icons small green-text">done</i>
                <i id="result-clear" class="result material-icons small red-text">clear</i>
            </div>
        </div>
    </div>
</div>
<script>
    $(".result").hide();

    $("#proposition").on("focus", function () {
        $(".card-image").slideUp(200);
        $(".card-action").removeClass("hide");
    });

    $("#revoir-video").on("click", function () {
        $(".card-image").slideDown(300);
        $(".card-action").addClass("hide");
    });

    $("#proposition").keyup(function(e) {
        if (e.keyCode == 13) {
            check();
        }
    });

    $("#envoyer").on("click", function () {
        check();
    });

    function check(){
        var valueIn = $("#proposition").val();
        if(valueIn === "{{ obj_exerciceA1.solution }}") {
            $("#result-clear").hide();
            $("#result-done").show();
        } else {
            $("#result-done").hide();
            $("#result-clear").show();
        }
    }




</script>
