<div class="col s12 m12 l8 offset-l2">
    <div class="card">
        <div class="card-content center black-text flow-text">
            <p>
                Quelle phrase  est la plus proche de la phrase signée
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <div class="video-container">
                <iframe title="{{ word }}" width="1100" height="619" src="{{ obj_exerciceC.videoLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="card-content">
            {% for item in tableauReponses %}
                <div class="row">
                    <p>
                        <label>
                            <input name="group1" class="with-gap" type="radio" checked />
                            <span>{{ item }}</span>
                        </label>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>