<div class="col s12 m12 l8 offset-l2">
    <h2>{{ question }}</h2>
    <ul>
        <li>{{ reponse1 }}</li>
        <li>{{ reponse2 }}</li>
        <li>{{ reponse3 }}</li>
    </ul>
</div>



<script>
</script>