<div class="col s12 m12 l8 offset-l2">
    {% if not obj_exerciceD %}
        <div class="card">
            <div class="card-content center black-text flow-text">
                <i class="material-icons black-text">warning</i>
                <p>{{ messageErreur }}</p>
            </div>
        </div>
    {% else %}
    <div class="card">
        <div class="card-content center black-text flow-text">
            <p>
                Réécrivez la phrase en mettant les mots dans l’ordre pour recréer une phrase correcte
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <p class="flow-text black-text">
                {{ obj_exerciceD.question }}
            </p>
        </div>
        <div class="card-content">
            <p>
                {{ obj_exerciceD.solution }}
            </p>
        </div>
    </div>
    {% endif %}
</div>
<script>
</script>

