<div class="col s12 m12 l8 offset-l2">
    <div class="card">
        <div class="card-content center black-text flow-text">
            <p>
                Recréez la phrase en mettant les mots dans l’ordre  pour recréer une phrase
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-title">

            <div style="display: block; width: 50px; height: 50px; border: 1px solid black" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div draggable="true" ondragstart="drag(event)" style="display: block; width: 50px; height: 50px; background-color: #0D47A1"></div>
            </div>

            <div style="display: block; width: 50px; height: 50px; border: 1px solid black" ondrop="drop(event)" ondragover="allowDrop(event)">
            </div>


            <p class="flow-text black-text">
                {{ obj_exerciceD.question }}
            </p>
        </div>
        <div class="card-content">
            <p>
                {{ obj_exerciceD.solution }}
            </p>
        </div>
    </div>
</div>

<script>

</script>

