{% extends '@Lacces/Administration/administration.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/css_for_views/addExercice.css') }}">
{% endblock %}

{% block title %}Ajouter un exercice{% endblock %}

{% block body %}
    <div>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

