{% extends '@Lacces/Administration/administration.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/css_for_views/addExercice.css') }}">
{% endblock %}

{% block title %}Ajouter un exercice{% endblock %}

{% block body %}
    <div class="container">
        <h5>Ajout d'un exercice pour un mot anglais</h5>
        <form>
            <label>Mots</label>
            <select required="required">
                <option value="" selected="selected">Selectionner un mot</option>
                {% for w in words %}
                    <option value="{{ w.id }}">{{ w.word }}</option>
                {% endfor %}
            </select>
            <label for="typeEx">Type d'éxercice</label>
            <select name="typeEx" id="typeEx" required="required">
                <option value="0" selected="selected">Selectionner le type d'exercice</option>
                <option value="1">Signification video</option>
                <option value="2">QCM</option>
                <option value="3">QCM video</option>
                <option value="4">Reformulation</option>
            </select>
            <div id="ex">
            </div>
        </form>
        <button id="valid" type="submit" class="btn btn-hover background-color-orange-lacces">Ajouter</button>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/js_for_views/addExercice.js') }}"></script>
    <script>
        function submit(){
            var ex = $('#typeEx').val();
            var enonce = $('#enonce').val();

            if(ex == 1){

            }else if(ex == 2){

            }else if(ex == 3){

            }else if(ex == 4){

            }else{
                return
            }

            $.ajax({
                cache:false,
                type: 'POST',
                dataType: 'json',
                data:{'ex': ex, 'langue':"en", 'enonce':enonce},
                success:function () {
                },
                error:function () {
                }
            })
        }
    </script>
{% endblock %}

