{% extends '@Lacces/Administration/administration.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}Ajouter un exercice{% endblock %}

{% block body %}
    <div>
        {{ form(form) }}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

